.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  padding-bottom: 7px;
  font-size: 26px;
  line-height: 31.69px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
}
